
/* INITIALIZING VARIABLES */
:root {
    --primary-color: #222222;
    --secondary-color: white;

    --standard-font: 'Roboto', sans-serif;

    --h1-font-size: 96px;
    --h2-font-size: 64px;
    --h3-font-size: 36px;
    --p-font-size: 24px;

    --h1-font-size--mobile: 40px;
    --h2-font-size--mobile: 36px;
    --h3-font-size--mobile: 24px;
    --p-font-size--mobile: 16px;

    --font-weight--thin: 300;
    --font-weight--regular: 400;
    --font-weight--bold: 800;
}

body {
    display: grid;
    background-color: var(--primary-color);
    margin: 0;
}

main {
    place-self: center;
    display: grid;
    width: 1020px;
}

h1, h2, h3, p, a {
    font-family: var(--standard-font);
    letter-spacing: 0.005em;
    color: var(--secondary-color);
}

h1, h2, h3, a {
    font-weight: var(--font-weight--bold);
}

h1 {
    font-size: var(--h1-font-size);
    margin-bottom: 0;
}

h2 {
    font-size: var(--h2-font-size);
    margin-bottom: 0;
}

h3 {
    font-size: var(--h3-font-size);
    margin-bottom: 0;
}

p {
    font-size: var(--p-font-size);
    font-weight: var(--font-weight--regular);
}

.underline {
    text-decoration: underline;
}

@media screen and (max-width: 1020px) {
    main {
        width: 760px;
    }
}

@media screen and (max-width: 800px) {
    main {
        width: 700px;
    }
    
    h1 {
        font-size: var(--h1-font-size--mobile);
    }
    
    h2 {
        font-size: var(--h2-font-size--mobile);
    }
    
    h3 {
        font-size: var(--h3-font-size--mobile);
    }
    
    p {
        font-size: var(--p-font-size--mobile);
    }
}

/* NAVBAR */
nav {
    display: grid;
    grid-template-columns: auto max-content max-content;
    position: fixed;
    top: 0;
    width: 80%;
    place-self: center;
    z-index: 2;
}

nav > a {
    margin: 36px;
    place-self: center;
    font-size: var(--h3-font-size--mobile);
    font-weight: var(--font-weight--regular);
}

.logo_container {
    display: grid;
    justify-content: center;
    align-items: center;
    place-self: center start;
}

.logo {
    margin-top: 0;
    margin-bottom: 0;
    font-size: var(--h3-font-size);
    text-decoration: none;
}

/* HERO */
.hero {
    height: 100vh;
    width: 100%;
    display: grid;
}

.hero > img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    grid-area: 1/1/2/2;
}

.hero > .overlay {
    grid-area: 1 / 1 / 2 / 2;
    background: black;
    opacity: .5;
    z-index: 1;
    grid-area: 1/1/2/2;
}

.hero > .text {
    grid-area: 1/1/2/2;
    z-index: 2;
    place-self: center;
    text-align: center;
}

.hero > .text > h3 {
    font-weight: var(--font-weight--thin);
    margin-bottom: 150px;
}

.hero > .text > a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: var(--font-weight--bold);
    font-size: var(--p-font-size);
}

.hero > .text > a:hover {
    background-color: rgb(148, 148, 148);
}


/* IMAGE GALLERY */
.animations {
    overflow: hidden;
    width: 100%;
    display: grid;
}
.image-container__outer {
    overflow: hidden;
    width: 100%;
    grid-area: 1/1/2/2;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(9, auto);
    gap: 20px;
    place-self: center;
    width: 100%;
    justify-content: center;
    animation: slide 60s linear infinite;
}

.image-container > img {
    width: 250px;
    height: 310px;
    object-fit: cover;
}

@keyframes slide{
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-2400px, 0, 0);
    }
  }

.image-container__outer2 {
    grid-area: 1/1/2/2;
    overflow: hidden;
    width: 100%;
}

.image-container2 {
    display: grid;
    grid-template-columns: repeat(9, auto);
    gap: 20px;
    place-self: center;
    width: 100%;
    justify-content: center;
    animation: slide2 60s linear infinite;
}

.image-container2 > img {
    width: 250px;
    height: 310px;
    object-fit: cover;
}

.image-container2 > img:nth-child(1){
    padding-left: 60px;
}

  @keyframes slide2{
    0% {
      transform: translate3d(+2400px, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }



/* MAIN */
main > h1 {
    margin-top: 200px;
}

.more-info {
    place-self: center;
    margin-bottom: 150px;
    margin-top: 150px;
}

.more-info > .experience > .link > .thin {
    font-weight: var(--font-weight--thin);
    width: 100%;
    font-size: var(--p-font-size);
    text-decoration: none;
}

.more-info > .experience > .link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
}

.more-info > .experience > .link > svg {
    height: 30px;
    width: 30px;
}


.call-to-action {
    place-self: center;
    display: grid;
    text-align: center;
    margin-bottom: 200px;
    margin-top: 150px;
}

.call-to-action__text--thin {
    font-size: 48px;
    font-weight: var(--font-weight--thin);
    margin-bottom: 24px;
}

.call-to-action__container {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
}

.call-to-action__container > a {
    text-decoration: none;
}

.call-to-action__text--bold {
    font-size: 80px;
    font-weight: var(--font-weight--bold);
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 800px) {
    .call-to-action__text--bold {
        font-size: var(--h3-font-size);
    }

    .call-to-action__text--thin {
        font-size: var(--h3-font-size--mobile);
        margin-bottom: 0;
    }

    .call-to-action__container > svg {
        height: 50px;
        width: 50px;
    }
}


/* FOOTER */
footer {
    place-self: center;
    display: grid;
    width: 1020px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-bottom: 100px;
}

.contact-information > p, .contact-information > a, .end-note__container > p {
    font-size: var(--p-font-size);
    font-weight: var(--font-weight--regular);
}

.connect > a, .experience > a {
    font-size: var(--h3-font-size--mobile);
    font-weight: var(--font-weight--regular);
}

.connect {
    display: grid;
    grid-template-columns: auto;
    place-self: start center;
}

.experience {
    display: grid;
    grid-template-columns: auto;
    place-self: start center;
}

.contact-information > h3, .end-note > h3 {
    margin-bottom: 0;
}

footer > .connect > h3, footer > .experience > h3 {
    margin-bottom: 24px;
}

.end-note__container {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    justify-content: center;
    align-items: center;
    gap: 10px ;
}

.end-note__container > svg {
    place-self: center;
}

.end-note__container > p {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

@media screen and (max-width: 1020px) {
    footer {
        width: 760px;
        grid-template-columns: auto;
    }

    .connect {
        place-self: start;
    }
    
    .experience {
        place-self: start;
    }

    .end-note__container {
        justify-content: start;
    }
}

@media screen and (max-width: 800px) {
    footer {
        width: 700px;
    }

    .end-note__container {
        justify-content: start;
    }
}